extends ../layout

block content
    .container
        .row
            form.form-horizontal(action="/admin/movie/new" method="post")
                .form-group
                    label.col-sm-3.control-label(for="inputTitle") 电影名字
                    .col-sm-10
                        input#inputTitle.form-control(type="text" name="move[title]")
                .form-group
                    label.col-sm-3.control-label(for="inputDoctor") 电影导演
                    .col-sm-10
                        input#inputDoctor.form-control(type="text" name="move[doctor]")
                 .form-group
                    label.col-sm-3.control-label(for="inputCountry") 国家
                    .col-sm-10
                        input#inputCountry.form-control(type="text" name="move[country]")
                .form-group
                    label.col-sm-3.control-label(for="inputLanguage") 语种
                    .col-sm-10
                        input#inputLanguage.form-control(type="text" name="move[language]")
                 .form-group
                    label.col-sm-3.control-label(for="inputPoster") 海报地址
                    .col-sm-10
                        input#inputPoster.form-control(type="text" name="move[poster]")
                .form-group
                    label.col-sm-3.control-label(for="inputFlash") 片源地址
                    .col-sm-10
                        input#inputFlash.form-control(type="text" name="move[flash]")
                 .form-group
                    label.col-sm-3.control-label(for="inputYear") 上映年份
                    .col-sm-10
                        input#inputYear.form-control(type="text" name="move[year]")
                .form-group
                    label.col-sm-3.control-label(for="inputSummary") 电影简介
                    .col-sm-10
                        input#inputSummary.form-control(type="text" name="move[summary]")
                .form-group
                    .col-sm-offset-2.col-sm-10
                    button.btn.btn-default(type="submit") 录入
