nav.navbar.navbar-inverse(role="navigation")
      .container-fluid
        .navbar-header
          img(src="images/node.jpg", height="44px;")
        |         
        #example-navbar-collapse.collapse.navbar-collapse
          ul.nav.navbar-nav
            li.active
              a(href="#") 商品管理
            |   
            | 				 
            li.active
              a(href="#") 系统设置
          |             
          ul.nav.navbar-nav.navbar-right
            li
              a 欢迎您,admin
            |                 
            li
              a(href="#") 安全退出